@using PKHeX.Core
@using PKHeX.Facade.Repositories
@inject GameService GameService

<Select TItem="SpeciesDefinition"
        TItemValue="Species?"
        DataSource="@_species"
         @bind-Value="@SelectedValue"
         OnSelectedItemChanged="SelectedSpeciesChangedInternal"
        LabelName="@nameof(SpeciesDefinition.Name)"
        ValueName="@nameof(SpeciesDefinition.Species)"
        Placeholder="Select a species"
        DefaultActiveFirstOption="false"
        Disabled="Disabled"
        EnableSearch
        EnableVirtualization="EnableVirtualization">
    <LabelTemplate>
        @RenderItem(context)
    </LabelTemplate>
    <ItemTemplate>
        @RenderItem(context)
    </ItemTemplate>
</Select>

@code {
    [Parameter] public required DataSource Source { get; set; }
    [Parameter] public bool ShowIcon { get; set; } = true;
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public bool EnableVirtualization { get; set; } = true;
    
    [Parameter] public SpeciesDefinition? SelectedSpecies { get; set; }
    [Parameter] public EventCallback<SpeciesDefinition> SelectedSpeciesChanged { get; set; }
    private Species? SelectedValue
    {
        get => SelectedSpecies?.Species;
        set { }
    }

    private List<SpeciesDefinition> _species = [];
    private Task SelectedSpeciesChangedInternal(SpeciesDefinition species) =>
        SelectedSpeciesChanged.InvokeAsync(species);

    RenderFragment RenderItem(SpeciesDefinition item)
    {
        return
            @<Space Style="gap: 5px;">
                <Space Align="SpaceAlign.Center" Style="width: 100%">
                    @if (ShowIcon)
                    {
                        <span style="transform: translateY(-20px);"><PokemonIcon Species="@item.Species"/></span>
                    }
                    <span>@item.Name</span>
                </Space>
            </Space>;
    }

    protected override void OnInitialized()
    {
        _species = (Source switch
        {
            DataSource.All => SpeciesRepository.All.Values,
            DataSource.CurrentGame => GameService.LoadedGame.SpeciesRepository.AllGameSpecies,
            DataSource.OnlySpeciesChain => SelectedSpecies is not null
                ? GameService.IsLoaded
                    ? GameService.LoadedGame.SpeciesRepository.GetEvolutionsFrom(SelectedSpecies) // Use the loaded game species repository
                    : SpeciesRepository.GetEvolutionsFrom(SelectedSpecies.Species, EntityContext.Gen9) // assumes last gen
                : throw new ArgumentException("Selected species is required when OnlySpeciesChain DataSource is used", nameof(SelectedSpecies)),
            _ => SpeciesRepository.All.Values
        }).Where(SpeciesDefinition.IsSome).ToList();
        
    }

    public enum DataSource
    {
        All,
        CurrentGame,
        OnlySpeciesChain,
    }
}
